@import "./variable";
.bhead {
  position: fixed;
  width: 100%;
  height: 7.5rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
  padding: 1rem;
  & .name {
    position: relative;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: $theme;
    & h1 {
      font-size: 2.8rem;
      text-transform: uppercase;
      font-family: "Rubik-Light";
      display: inline-block;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
  }
  & .tabs {
    position: relative;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: "Poppins-Light";
    & button {
      position: relative;
      height: 3.4rem;
      margin-right: 0.4rem;
      font-size: 1.7rem;
      text-transform: uppercase;
      font-family: "Poppins-Light";
      padding: 0.4rem;
      outline: none;
      border: none;
      background-color: transparent;
      cursor: pointer;
      border-bottom: 2px solid transparent;
      transform-origin: left;
      &:hover {
        border-bottom: 2px solid $theme;
        transition: all 0.5s ease;
      }
      &:first-child {
        border-bottom: 2px solid $theme;
      }
      &.active {
        border-bottom: 2px solid $theme;
      }
    }
  }
  & .log {
    position: relative;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    & button {
      position: relative;
      height: 3.8rem;
      font-size: 1.7rem;
      text-transform: uppercase;
      font-family: "Rubik-Light";
      padding: 0.4rem;
      border: none;
      background-color: rgb(250, 25, 25);
      width: 9rem;
      color: #fff;
      border-radius: 0.3rem;
      cursor: pointer;

      &:hover {
        color: rgb(250, 25, 25);
        background-color: #fff;
      }
    }
  }
}
.body {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 2rem;
  background-color: rgba($theme, 0.1);
  padding-top: 10rem;
  & .inner {
    position: inherit;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    // grid-template-columns: repeat(4, 1fr);
    // grid-gap: 0.5rem;

    & .each {
      position: relative;
      width: 30%;
      height: 50vh;
      margin: 3rem 1.5%;
      border-bottom: 1px solid rgba($theme, 0.6);
      display: flex;
      flex-direction: column;

      & .img {
        position: relative;
        width: 100%;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;

        & img {
          position: relative;
          height: 100%;
        }
      }

      & .text {
        position: relative;
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & .header {
          position: relative;
          width: 100%;
          display: flex;
          align-items: center;
          text-align: center;
          flex-wrap: nowrap;
          & h1 {
            position: relative;
            padding: 0.4rem;
            width: 100%;
            text-align: center;
            font-size: 1.6rem;
            text-transform: uppercase;
            font-family: "Rubik-Light";
            color: $theme;
          }
        }
        & .para {
          position: relative;
          width: 100%;
          height: 75%;
          padding: 0.6rem;
          flex-direction: column;
          overflow: hidden;
          & a {
            font-size: 1.4rem;
            text-transform: capitalize;
            font-family: "Poppins-Light";
            text-decoration: none;
            cursor: pointer;
            color: $theme;
          }
          & button {
            position: relative;
            padding: 0.4rem;
            // width: 8.3rem;
            // height: 3.5rem;
          }
        }
      }
    }
  }
}
