.cont {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  padding: 2rem;
}

.cont .login {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #2b293e;
  -webkit-clip-path: polygon(0 0, 95% 0, 85% 100%, 0 100%);
          clip-path: polygon(0 0, 95% 0, 85% 100%, 0 100%);
}

.cont .login .head {
  position: relative;
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
}

.cont .login .head a {
  cursor: pointer;
  text-decoration: none;
}

.cont .login .head a h1 {
  display: block;
  margin-top: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 3.5rem;
  font-family: "Poppins-Light";
  color: #fff;
}

.cont .login .pad {
  position: absolute;
  width: 30%;
  height: 75%;
  background-color: #fff;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 1rem 2rem 4rem rgba(0, 0, 0, 0.4);
          box-shadow: 1rem 2rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 0.4rem;
}

.cont .login .pad .error {
  position: relative;
  width: 90%;
  padding: 1rem;
  border: 2px solid red;
  color: #fd5b5b;
  margin: auto;
  text-align: center;
  margin-top: 0.5rem;
}

.cont .login .pad .error h1 {
  text-transform: capitalize;
  font-size: 1.5rem;
  font-family: "Poppins-Light";
}

.cont .login .pad form {
  position: relative;
  width: 100%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4rem;
}

.cont .login .pad form input {
  position: relative;
  width: 90%;
  height: 4.5rem;
  border: none;
  outline: none;
  margin-bottom: 2rem;
  border-bottom: 2px solid #2b293e;
  text-indent: 0.6rem;
  text-transform: capitalize;
  font-size: 1.5rem;
  font-family: "Poppins-Light";
}

.cont .login .pad form input:hover, .cont .login .pad form input:focus {
  border: 2px solid #2b293e;
}

.cont .login .pad form button {
  position: relative;
  width: 70%;
  height: 4rem;
  cursor: pointer;
  border: 2px solid #2b293e;
  background-color: transparent;
  text-transform: capitalize;
  font-size: 1.9rem;
  border-radius: 0.3rem;
  font-family: "Poppins-Light";
  margin-top: 4rem;
}

.cont .login .pad form button:hover {
  background-color: #2b293e;
  color: #fff;
}

.cont .login .pad .sup {
  position: relative;
  width: 100%;
  height: 30%;
}

.cont .login .pad .sup h4 {
  font-family: cursive;
  font-size: 1.8rem;
  text-transform: capitalize;
  text-align: center;
  color: #2b293e;
}

.cont .login .pad .sup a {
  position: relative;
}

.cont .login .pad .sup a button {
  margin-left: 30%;
  position: relative;
  width: 40%;
  height: 3.9rem;
  margin-top: 2.5rem;
  cursor: pointer;
  font-family: "Poppins-Light";
  font-size: 1.7rem;
  text-transform: capitalize;
  border: none;
  background-color: #2b293e;
  color: #fff;
  border-radius: 0.3rem;
}
/*# sourceMappingURL=login.css.map */